@import "../../../vars";

.page_wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    display: flex;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.login_btn {
    background-color: $white;
    color: $text-color-black;
}

.login_link {
    @extend .login_btn;
    text-decoration: none;
}

.mr1 {
    margin-right: 1rem;
}
